<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="" method="" class="row g-3">
                    <img style="width: 400px" src="banner.jpeg" alt="banner">
                    <div class="col-12">
                        <label>Your Name</label>
                        <input type="text" name="username" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-12">
                        <label>Barcode ID</label>
                        <input type="text" name="password" class="form-control" placeholder="Barcode Id">
                    </div>

                    <div class="col-12">
                        <a href="/add"  id="send" class="btn btn-success float-end">Connect</a>
                    </div>
                </form>
                <hr class="mt-4">

            </div>
        </div>
    </div>
</div>

<script src="js/bootstrap.js"></script>
<script src="js/pdfmake.min.js"></script>
<script src="js/vfs_fonts.js"></script>
<script src="js/datatables.min.js"></script>


</body>
</html>