<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="datatable.css">



</head>
<body>
<div class="container-fluid">
    <div style="background-color: #0780D1">
        <img style="width: 200px" src="banner.jpeg" alt="banner">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/add-product" class="nav-item nav-link active">Gestion Produit</a>
                    <a href="/add" class="nav-item nav-link">Scanner Produit</a>
                    <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-item nav-link">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container pt-2">

<!--    <h1 class="display-6">Scanning System App</h1>-->
    <div class="dropdown-divider"></div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="display-6">List of Scanning Product</h6>
                </div>
                <div class="com-md-3">
                    <a href="/" class="btn btn-primary">Scan Sheet</a>
                </div>
            </div>
        </div>
        <div class="card-body" style="height: 400px; overflow-block: scroll">
            <table id="myTable" class="table table-hover table-striped table-responsive-md" style="width:100%">
                <thead>

                <tr>

                    <th>Product Code</th>
                    <th>description</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th>seller</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody id="data">




                </tbody>
                <tfoot>
                <tr>

                    <th>Product Code</th>
                    <th>description</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th>seller</th>
                    <th>Date</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



<!--<script src="js/jquery.js"></script>-->



<script src="js/bootstrap.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>-->
<script src="js/pdfmake.min.js"></script>
<script src="js/vfs_fonts.js"></script>
<script src="js/datatables.min.js"></script>

<script>
    $(document).ready(function() {
        console.log("Jquery is loaded !")


        fetch("http://localhost:8282/productScans").then(
            res => {
                res.json().then(
                    data => {

                        console.log(data);
                        if (data.length > 0) {

                            var temp = "";
                            data.forEach((itemData) => {
                                temp += "<tr>";
                                temp += "<td>" + itemData.code + "</td>";
                                temp += "<td>" + itemData.description + "</td>";
                                temp += "<td>" + itemData.price + "</td>";
                                temp += "<td>" + itemData.quantity + "</td>";
                                temp += "<td>" + itemData.seller + "</td>" ;
                                temp += "<td>" + itemData.createAt + "</td>" +
                                    "</tr>";
                            });
                            document.getElementById('data').innerHTML = temp;
                        }
                    }
                )
            }
        )
    });


</script>
</body>
</html>